.content-board {
    position: fixed;
    top: 96px;
    left: 232px;
    padding: 32px 48px 32px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 64px - 96px);
    width: calc(100% - 96px - 232px);
    overflow-y: auto;
    z-index: 1;
}

.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 8px;
}

.split-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.center-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 32px;
    flex: 2;
}

.smallAddButton {
    display: none;
}

.search-icon {
    width: 32px;
    height: 32px;
    padding-left: 10px;
    border-left: 1px solid #d1d1d1;
}

.input-container {
    display: flex;
    flex: 1;
    padding: 8px 16px;
    align-items: center;
    max-width: 350px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}

.input-container:focus-within {
    border: 1px solid #29ABE2;
}

.addTask-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.input-container2 {
    display: none;
}

.task-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 26px;
}

.task-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 284px;
}

.group-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.empty-label {
    display: flex;
    width: 284px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.taskContainer {
    display: flex;
    width: 252px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.taskCategorySpan {
    display: flex;
    padding: 4px 16px;
    border-radius: 8px;
    align-items: flex-start;
    gap: 10px;
}

.titelDescriptionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

.progressSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 11px;
}

.progress-container {
    flex: 1;
    height: 10px;
    background: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: #4589FF;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.taskUserCircles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding-left: 8px;
}

.userCircle {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    margin-left: -8px;
    border: 1px solid #fff;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prioIcon {
    display: flex;
    width: 26px;
    height: 26px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 284px;
    gap: 16px;
}

.group-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 284px;
}

.taskSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}


@media (max-width: 1550px) {
    .content-board {
        padding: 32px 48px 32px 96px;
        width: calc(100% - 144px - 232px);
    }

    .task-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 26px;
    }

    .taskSection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-height: 300px;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1300px) {

    .content-board {
        top: 96px;
        padding: 32px 48px 32px 58px;
        height: calc(100% - 96px - 64px);
        width: calc(100% - 232px - 106px);
    }
}

@media (max-width: 1020px) {

    .content-board {
        top: 96px;
        left: 180px;
        padding: 32px 28px 32px 40px;
        width: calc(100% - 180px - 68px);
    }

    .head-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 8px;
        margin-bottom: 24px;
    }

    .split-container {
        width: 100%;
    }

    .center-container {
        display: none;
    }

    .smallAddButton {
        display: flex;
        border-radius: 10px;
        border: 1px solid #2A3647;
        background: #2A3647;
        width: 32px;
        height: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .input-container2 {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 8px 16px;
        align-items: center;
        max-width: unset;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--icon, #A8A8A8);
        background: #FFF;
    }
}

@media (max-width: 700px) {

    .content-board {
        position: fixed;
        top: 80px;
        left: 0px;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 16px 32px 16px;
        height: calc(100% - 160px - 32px);
        width: calc(100% - 32px);
        z-index: 1;
        overflow-y: auto;
    }

    .head-section {
        gap: 16px;
    }

    .smallAddButton {
        margin-bottom: 0px;
    }

}