/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

h3 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 32px;
    font-style: normal;
}

.head-span {
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.greeting-span {
    color: #2A3647;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

}

#greetingUser {
    color: #29ABE2;
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.row-number {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.row-span {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.row-span-medium {
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.row-span-small {
    color: #2A3647;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.userOptionsSpan {
    display: flex;
    color: #CDCDCD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 120%;
    width: 130px;
    height: 25px;
    padding: 8px;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1300px) {
    h2 {
        font-size: 55px;
    }

    .head-span {
        font-size: 23px;
    }

    .greeting-span {
        font-size: 35px;
    }

    #greetingUser {
        font-size: 46px;
    }

    .row-number {
        font-size: 46px;
    }

    .row-span {
        font-size: 16px;
    }

    .row-span-medium {
        font-size: 19px;
    }

    .row-span-small {
        font-size: 15px;
    }
}

@media (min-width:700px) {
    h3 {
        font-size: 61px !important;
    }
}

@media (max-width:1020px) {
    h2 {
        font-size: 50px;
    }

    .head-span {
        font-size: 24px;
    }

    .userOptionsSpan {
        font-size: 15px;
        width: 130px;
        height: 20px;
        gap: 8px;
    }
}

@media (max-width:700px) {
    h2 {
        font-size: 47px !important;
        margin-top: 32px;
        margin-bottom: 0;
    }

    .head-span {
        font-size: 20px;
    }

    .row-number {
        font-size: 40px;
    }

    .row-span {
        font-size: 14px;
    }

    .row-span-medium {
        font-size: 16px;
    }

    .row-span-small {
        font-size: 12px;
    }

    .userOptionsSpan {
        font-size: 14px;
        width: 130px;
        height: 17px;
        gap: 8px;
    }

}