/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

h3 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.greeting-span {
    color: #2A3647;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#greetingUser {
    color: #29ABE2;
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@media (min-width:700px) {
    h3 {
        font-size: 61px !important;
    }
}

@media (max-width:1020px) {
    h2 {
        font-size: 55px !important;
    }
}

@media (max-width:700px) {
    h2 {
        font-size: 47px !important;
        margin-bottom: 0;
    }
}