/*Join-Logo*/

/*-------Colors--------*/
/*background*/
/*body: #F6F7F8;*/
/*loginRegisterWindow: #FFF;*/

body {
    background: #F6F7F8;
    margin: 0;
}

.column100center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex100space {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    display: flex;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: none;
    width: calc(100% - 36px);
}