/*Join-Logo*/

/*-------Colors--------*/
/*background*/
/*body: #F6F7F8;*/
/*loginRegisterWindow: #FFF;*/

body {
    background: #F6F7F8;
    margin: 0;
}

.column100center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex100space {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.join-logo-head {
    margin-top: 4vh;
    margin-left: 7vw;
    margin-bottom: 10vh;
    width: 15%;
    min-width: 48px;
    max-width: 64px;
}

.log-in-window {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 95%;
    height: auto;
    border-radius: 30px;
    padding: 32px 0px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04)
}

.blueUnderline {
    margin-top: 16px;
    border-radius: 30px;
    width: 78px;
    height: 3px;
    background-color: #29abe2;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 12px 21px;
    margin-bottom: 32px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;

}

.input-icon {
    width: 24px;
    height: 24px;
}

input {
    display: flex;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: none;
    width: calc(100% - 36px);
}

.remember-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-left: 16px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #000;
    margin-bottom: 32px;
}

#rememberMe {
    width: 20px;
    height: 20px;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.login-button {
    display: flex;
    width: 180px;
    height: 51px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.guest-login-button {
    display: flex;
    width: 180px;
    height: 51px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    border-radius: 8px;
    border: 1px solid #2A3647;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 42px 0px;
    gap: 35px;
}

.sign-up-span {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.sign-up-button {
    display: flex;
    width: 104px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.index-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 22px;
}

.index-footer-span {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #A8A8A8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}